.item.selected-item {
    background-color: #0069ff;
    color: #FAFBFC;
}

.dropdown {
    width: 100%;
    padding: 0;
    text-align: left;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #0F67FF;
    border-top: none;
}

.alignButton {
    margin-top: 20px !important;
}