/* ============================================
                    index.css
 ============================================ */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  min-height: 34vw;
  min-width: 45vw;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

/* ============================================
                    root
 ============================================ */
.root{
}
/* ============================================
                  mainContainer
 ============================================ */
.mainContainer{
  margin: .3vw;
  padding: .3vw;
}
/* ============================================
                    page_header
 ============================================ */
.page_header {
  display: flex;
  justify-content: space-between;
  background: #dcdcdc;
  padding: .2vw;
}
/* ============================================
                    dashboard
 ============================================ */
.dashBoard{
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
/* ============================================
                    sideNav
 ============================================ */
.sideNav{
  padding: .3vw;
  max-width: 15%;
  background: #dcdcdc;
}
/* ============================================
                    dashContentContainer
 ============================================ */
.dashContentContainer{
  width: 85%;
  height: 100%;
  background: #dcdcdc;
}
/* ============================================
                    Badge
 ============================================ */
.badge{
  height: 2.5vw;
  font-size: 1.5vw;
  align-content: baseline;
}
/* ============================================
                    quizFrame
 ============================================ */
.quizFrame{
  width: 100%;
}
/* ============================================
                    jumbotron
 ============================================ */
.jumbotron{
  width: 100%;
  height: 100%;
  //padding: .3vw;
}
/* ============================================
        ------- Utility Classes -------
 ============================================ */
.marginLeft{
  margin-left: 1vw;
}
.marginRight{
  margin-right: 1vw;
}

//div {
//  border-style: solid;
//}
//header,
//main,
//footer {
//  padding-left: 240px;
//  background: #f5f5f5;
//}

//#dash_header, #dash_footer{
//  max-width: 90%;
//  justify-content: center;
//  align-content: center;
//  background: #f5f5f5;
//}

//#dash_side_nav {
//  max-width: 20%;
//  background: #f5f5f5;
//}
//
//#dash_main_content {
//  max-width: 90%;
//  justify-content: center;
//  align-content: center;
//}
//
//#dash_side_nav ul {
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//  border-style: solid;
//  overflow: auto;
//
//  li a {
//    text-decoration: none;
//    display: block;
//    border-style: solid;
//    max-width: 100%;
//  }
//}



///* === Start: index.css === */

//


//
//body, html, .App, #root, .auth-wrapper {
//  width: 100%;
//  height: 100%;
//}
//
//.auth-wrapper {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  text-align: left;
//}
//
//.auth-inner {
//  width: 450px;
//  margin: auto;
//  background: #ffffff;
//  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
//  padding: 20px 35px 20px 35px;
//  border-radius: 5px;
//  transition: all .3s;
//}
//
//.auth-wrapper .form-control:focus {
//  border-color: #167bff;
//  box-shadow: none;
//}
//
//.auth-wrapper h3 {
//  text-align: center;
//  margin: 0;
//  line-height: 1;
//  padding-bottom: 20px;
//}
//
//.custom-control-label {
//  font-weight: 400;
//}
//
//.forgot-password,
//.forgot-password a {
//  text-align: right;
//  font-size: 13px;
//  padding-top: 10px;
//  color: #7f7d7d;
//  margin: 0;
//}
//
//.forgot-password a {
//  color: #167bff;
//}
///* === End: index.css === */